body {
    background-color: #f4f8fb;
    font-family: "Segoe UI", Roboto, Arial, sans-serif;
    color: #1f2937;
}


.navbar {
    background-color: #106589 !important;
}

.navbar-brand {
    font-size: 1.25rem;
}

.navbar .nav-link {
    color: white !important;
    font-weight: 500;
    margin-left: 18px;
    transition: 0.2s;
}

.navbar .nav-link:hover {
    color: #dbeafe !important;
    text-decoration: underline;
}

.navbar .nav-link.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}


h2, h3 {
    font-weight: 600;
}

.hover-card {
    transition: all 0.2s ease;
    cursor: pointer;
}

.hover-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}


.card {
    border-radius: 10px;
    border: none;
}

.card.shadow-sm {
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.card-body h3 {
    font-weight: 700;
    color: #106589;
}


.table thead {
    background-color: #e8f1f5;
}

.table th {
    font-weight: 600;
}


.btn-primary {
    background-color: #0d6efd;
    border: none;
}

.btn-success {
    background-color: #16a34a;
    border: none;
}

.btn-danger {
    background-color: #dc2626;
    border: none;
}


.badge.bg-success {
    background-color: #16a34a !important;
}

.badge.bg-danger {
    background-color: #dc2626 !important;
}


footer {
    background-color: #f1f5f9;
    color: #475569;
    font-size: 0.9rem;
}
